.cardMain {
    display: flex;
    padding: 18px 20px 18px 19px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    align-self: stretch;
    min-width: 20%;
    min-height: 100%;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.02);
}

.ellipse {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.ellipse1 {
    width: 200px;
    height: 100px;
    background-color: #ff5733; 
    top: 20%; 
    left: 30%; 
}

.ellipse2 {
    width: 150px;
    height: 75px;
    background-color: #33a4ff; 
    top: 120px; 
    right: 50px; 
}


.icon {
    width: 20%;

}

.cardUp {
    height: 50%;
    display: flex;
    align-items: center;
    gap: 2%;
    border-bottom: 1px solid rgba(236, 241, 240, 0.05);
}

.cardDown {
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

.criptoName {
    display: flex;
    padding: 4px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #1D1429;

    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 4px;
    background: #B6B6B6;
}

.indicator {
    margin-left: 20%;
}

.downLeft {
    display: flex;
    flex-direction: column;

}

.currentPrice {
    color: #ECF1F0;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.momentVariation {
    color: #B6B6B6;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.chart{
    width: 100%;
    
}

.downRight{
    width: 50%;
}
