
.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
  }
  
  .navbar {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100vw;
    height: 13vh;
    justify-content: space-around;
    transition: background-color 0.5s ease-out; /* Adiciona uma transição suave */
  }
  
  .scrolled {
    background-color: #331; /* Defina a cor da navbar ao descer a tela */
    z-index: 1;
  }
  
  .logo {
    width: 10vw;
    position: static;
  }
  .nav {
    color: black;
    width: 20vw;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
  }
  
  .navScrolled {
    color: white;
    width: 20vw;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
  }

  .cards{
    background-color: aqua;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .title{
    margin-top: 10%;
    height: 20%;
  }

  .footer{
    height: 20%;
  }